* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px
}

body {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
